@import url(config.css);

#input-span {
	width: 40%;
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content:space-between;
}

#input-boxes-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	margin-top: 1rem;
	gap: 1rem;
	width: 100%;
}

.input-box {
	background-color: var(--fg3);
	color: var(--bg3);
	font-size: 1.25rem;
	text-align: center;
	padding: 0.5em;
	width: 3em;
	height: 3em;
}

#input-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid var(--fg2);
	padding-top: 0px;
	padding: 1rem;
}

#load-button {
	background-color: var(--fg2);
	color: var(--bg);
	font-size: 1.25rem;
	margin-top: 1rem;
	padding: 1em 1.5em;
	align-self: flex-end;
}

#load-button:hover {
	background-color: var(--fg);
}
